<li>
  <span class="content">
  	<%= link_to club.name, city_club_path(club.city, club) %>
  </span>
   <span class="content">
  	<%= club.address %>
  </span>
  <span class="timestamp">
    Added <%= time_ago_in_words(club.created_at) %> ago.
  </span>
</li>