<% provide(:link, 'Add city') %>
<% provide(:link_path, addcity_path) %>
<% provide(:show_link, true) %>
<% provide(:title, 'All cities') %>
<h2>All cities</h2>

<p id="demo"></p>

<%= will_paginate @cities, param_name: 'city_page', inner_window: 0, outer_window: 0, 
                           previous_label: '<', next_label: '>' %>

<ul class="cities">
  <%= render @cities %>
</ul>

<%= will_paginate @cities, param_name: 'city_page', inner_window: 0, outer_window: 0,
                           previous_label: '<', next_label: '>' %>

