<% provide(:link, 'Add city') %>
<% provide(:link_path, addcity_path) %>
<% provide(:title, 'All cities') %>
<h1>All cities</h1>

<%= will_paginate @cities, param_name: 'city_page' %>

<ul class="cities">
  <%= render @cities %>
</ul>

<%= will_paginate @cities, param_name: 'city_page' %>

