<% provide(:title, @city.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @city %>
	      <%= @city.name %>
      </h1>
    </section>
  </aside>
</div>
